@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

header {
    display: block;
    width: 100%;
    height: 130px;
}
header .top{
    display: flex;
    width: 100%;
    height: 55%;
    background-color: #F4F6F9;
    border-bottom: 0.3px solid rgb(204, 204, 204);
    justify-items: center;
    align-items: center;
}
header .top #info{
    display: flex;
    align-items: center;
    .fa-clock{
        height: 25px;
        color: orange;
    }
    .fa-location-dot{
        height: 25px;
        color: orange;
    }
}
header .top #social{
    border-left: 0.4px solid rgb(134, 134, 134);
    display: flex;
    align-items: center;
    .space{
        margin-left: 25px;
    }
    .fa-square-facebook{
        height: 32px;
        color: rgb(1, 67, 143);
        transition: 0.3s ease-in-out;
    }
    .fa-square-twitter{
        height: 32px;
        color: rgb(0, 132, 255);
        transition: 0.3s ease-in-out;
    }
    .fa-square-whatsapp{
        height: 32px;
        color: rgb(3, 214, 31);
        transition: 0.3s ease-in-out;
    }
    .fa-square-facebook:hover{
        height: 40px;
        color: rgb(3, 99, 209);
        transition: 0.3s ease-in-out;
    }
    .fa-square-twitter:hover{
        height: 40px;
        color: rgb(43, 153, 255);
        transition: 0.3s ease-in-out;
    }
    .fa-square-whatsapp:hover{
        height: 40px;
        color: rgb(46, 223, 70);
        transition: 0.3s ease-in-out;
    }
}
header .top ul{
    margin-bottom: 0px;
    padding-left: 17px;
}
header .top ul>li{
    list-style: none;
    font-size: 13px;
    font-weight: 600;
    font-family: "Open Sans", Sans-serif;
}
header .bottom{
    display: flex;
    height: 45%;
    width: 100%;
    background-color: white;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    .col-2{
        margin-right: -90px;
    }
    #home a{
        text-decoration: none;
        color: black;
        transition: 0.3s ease-in-out;
    }
    #about a{
        text-decoration: none;
        color: black;
        transition: 0.3s ease-in-out;
    }
    #services a{
        text-decoration: none;
        color: black;
        transition: 0.3s ease-in-out;
    }
    #pages a{
        text-decoration: none;
        color: black;
        transition: 0.3s ease-in-out;
    }
    #contact a{
        text-decoration: none;
        color: black;
        transition: 0.3s ease-in-out;
    }
    #home a:hover{
        color: red;
        transition: 0.3s ease-in-out;
    }
    #about a:hover{
        color: red;
        transition: 0.3s ease-in-out;
    }
    #services a:hover{
        color: red;
        transition: 0.3s ease-in-out;
    }
    #pages a:hover{
        color: red;
        transition: 0.3s ease-in-out;
    }
    #contact a:hover{
        color: red;
        transition: 0.3s ease-in-out;
    }
}

main{
    #intro{
        height: 850px;
        width: 100%;
        background-image: linear-gradient(rgba(127, 168, 255, 0.356), rgba(0, 60, 255, 0.479)), url(main-background.jpg);
        background-position: top center;
        background-size: 100%;
        background-repeat: no-repeat;
        .intro-title{
            font-size: 65px;
            font-weight: 900;
            line-height: 1.2em;
            color: white;
            padding-left: 80px;
            padding-top: 280px;
        }
        .btn{
            color: white;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-top: 40px;
            margin-left: 70px;
        }
        #intro-text{
            font-size: 17px;
            margin-top: 40px;
            margin-left: 70px;
            color: white;
        }
    }
    #services-resume{
        .row{
            display: flex;
            padding-top: 80px;
            padding-bottom: 80px;
            padding-left: 100px;
            padding-right: 100px;
            font-size: 17px;
        }
        .container .row .col-md-4 .d-flex img{
            height: 84px;
        }
        .container .row .col-md-4 .d-flex .service-content{
            margin-left: 30px;
        }
    }
    .space-container{
        height: 80px;
        width: 100%;
    }
    #discount{
        .row{
            margin-left: 65px;
            margin-right: 65px;
        }
        .col{
            width: 50%;
            height: 368px;
            border: 0.3px solid rgba(170, 170, 170, 0.507);
            text-align: left;
            padding-left: 30px;
            padding-top: 30px;
        }
        #service-content-2{
            background-image: url(../img/repairing-auto.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 188px center;
            .linear-gradient-div{
                margin-left: 21px;
                margin-top: -30px;
                position: absolute;
                height: 366px;
                width: 530px;
                background-color: transparent;
                background-image: linear-gradient(290deg, rgba(64, 84, 178, 0.35) 45%, #FFFFFF 0%);
                opacity: 1;
                z-index: 0;
                transition: 0.3s ease-in-out;
            }
        }
        #service-content-3{
            background-image: url(../img/quick-help.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 188px center;
            .linear-gradient-div{
                margin-left: 21px;
                margin-top: -30px;
                position: absolute;
                height: 366px;
                width: 530px;
                background-color: transparent;
                background-image: linear-gradient(290deg, rgba(64, 84, 178, 0.35) 45%, #FFFFFF 0%);
                opacity: 1;
                z-index: 0;
                transition: 0.3s ease-in-out;
            }
        }
        #service-content-2:hover{
            background-image: url(../img/repairing-auto.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 188px center;
            .linear-gradient-div{
                margin-left: 0px;
                margin-top: -30px;
                position: absolute;
                height: 366px;
                width: 551px;
                background-color: transparent;
                background-image: linear-gradient(290deg, rgba(64, 85, 178, 0) 45%, #FFFFFF 0%);
                opacity: 1;
                z-index: 0;
                transition: 0.3s ease-in-out;
            }
        }
        #service-content-3:hover{
            background-image: url(../img/quick-help.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 188px center;
            .linear-gradient-div{
                margin-left: 0px;
                margin-top: -30px;
                position: absolute;
                height: 366px;
                width: 551px;
                background-color: transparent;
                background-image: linear-gradient(290deg, rgba(64, 85, 178, 0) 45%, #FFFFFF 0%);
                opacity: 1;
                z-index: 0;
                transition: 0.3s ease-in-out;
            }
        }
        .row .col h2{
            margin-bottom: 20px;
            width: 40px;
            
        }
        .row .col h2 p{
            position: relative;
            margin-bottom: 0px;
            font-weight: 900;
        }
        .row .col p{
            position: relative;
            width: 230px;
        }
    }
}